
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
 @import '~bootstrap/scss/bootstrap';


body{
  background-color: #192228;
  color: white;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.title-Bar{
  color: white;
  display: block;
  background-color: #EA4953;
}


.search-Bar{
  font-size: 24px;
  display: block;
  width: 100%;
  padding-left: 15px;
  margin-left: 100px;
  color: white;
  background-color: #EA4953;
  border: 0px solid;
  height: 100px;
  margin-top: 0;
  position: relative;
}

::placeholder {
  color: white;
  opacity: 1;
}
span{
 position: absolute;
 margin-left: 120px;
 z-index: 1;
 font-size: 22px;
 margin-top: 33px;
}
input{
  text-indent: 40px;
}
input:focus{
  outline: none;
}

h1{
  padding-left: 15px;
}

.template{
  display: inline-block;
     float: left;
    // margin-left: 40%;
    margin-left: 100px;
    margin-right: 70px;
    margin-top: 50px;
    margin-bottom: 135px;
    // margin-top: 2%;
    // margin: 0 auto;
   // // margin-bottom: 2%;
    direction: ltr;
    // width: 30%;
    // padding: 50px;
   height: 300px;
    width: 300px;
    color: #C4C1C0;

}

.view-btn{
   padding: 2px 10px;
   background-color: green;
   border-radius: 25%;
   color: white;
}
 // .ratings{
 //   padding: 2px 10;
 //   width: 30px;
 //   background-color: red;
 //   border-radius: 30%;
 //   text-align: center;
 //   color: white;
 // }
 .good-rating{
   padding: 2px 10;
   width: 30px;
   background-color: green;
   border-radius: 30%;
   text-align: center;
   color: white;
 }

.avg-rating{
  padding: 2px 10;
  width: 30px;
  background-color: orange;
  border-radius: 30%;
  text-align: center;
  color: white;
}

.bad-rating{
  padding: 2px 10;
  width: 30px;
  background-color: red;
  border-radius: 30%;
  text-align: center;
  color: white;
}
